.newTodo {
  padding: 16px;
  display: flex;
  gap: 4px;
  border: 1px solid #888;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 20px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.addBtn {
  padding-inline: 14px;
  color: #fff;
  font-size: 24px;
  background-color: transparent;
  border: 2px dotted #ddd;
  border-radius: 6px;
  cursor: pointer;
}
.addBtn:hover {
  color: greenyellow;
  background-color: #121f14;
  border: 2px dotted greenyellow;
}

.todoList {
  padding: 10px;
  color: #fff;
  border: 1px solid #888;
  border-radius: 8px;
}

.todoTopSection {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}

.todoTitle {
  font-weight: bold;
}

.todoClearBtn {
  padding: 8px 14px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}
.todoClearBtn:hover {
  border: 1px solid red;
  background-color: #391515;
}

.todoContent {

}

.todoItem {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkItem {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 10px;
  overflow: hidden;
  cursor: pointer;
}

.checkbox {
  min-width: 30px;
  min-height: 30px;
}
.checkbox:checked + p {
  text-decoration: line-through;
}

.deleteTaskBtn {
  min-width: 32px;
  min-height: 34px;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.deleteTaskBtn:hover {
  color: red;
}