body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.todo {
  width: 500px;
}

@media (max-width: 500px) {
  .todo {
    width: 90vw;
  }
}
